.App {
  min-height: 100vh;
  color: seagreen;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: seagreen;
  min-height: 10vh;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  padding-left: 35px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Nav Bar */

.Nav {
  display: inline-block;
  text-align: left;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seagreen;
}

.Nav li {
  display: inline-block;
  padding-right: 35px;
  padding-bottom: 35px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.Nav li:hover:not(.active) {
  background-color: white;
  color: #000;
}
.active {
  background-color: seagreen;
  color: black;
}

/* Article List */

.ArticleList {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;
}

.ArticleList h2 {
  text-align: left;
  margin: 35px;
}

.ArticleList img {
  width: 40vw;
}

.ArticleList li {
  list-style-type: none;
}

/* Single Article */

.Article li {
  list-style-type: none;
}

.Article ul {
  text-align: left;
  list-style-type: none;
  line-height: 1.5;
  padding: 10%;
}

.Article ul img {
  max-width: 80%;
}
