.App {
  min-height: 100vh;
  color: #0e2c1d;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: #0e2c1d;
  min-height: 10vh;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #9ee7b6;
  padding-left: 35px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Nav Bar */

.Nav {
  display: inline-block;
  text-align: left;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2e8b57;
  width: 100vw;
}

.Nav li {
  display: inline-block;
  padding-right: 35px;
  padding-bottom: 35px;
  color: #9ee7b6;
  text-align: center;
  text-decoration: none;
}

.Nav li:hover:not(.active) {
  background-color: #9ee7b6;
  color: #0e2c1d;
}
.active {
  background-color: #2e8b57;
  color: #0e2c1d;
}

.Nav:link {
  colour: inherit;
}

/* Article List */

.ArticleList {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;

  /* display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; */
}

.ArticleList h2 {
  text-align: left;
  margin: 35px;
}

.ArticleList img {
  width: 40vw;
  border: 2px solid #2e8b57;
}

.ArticleList li {
  list-style-type: none;
}

/* Single Article */

.Article li {
  list-style-type: none;
}

.Article ul {
  text-align: left;
  list-style-type: none;
  line-height: 1.5;
  padding: 10%;
}

.Article ul img {
  max-width: 80%;
  border: 2px solid #2e8b57;
}

.Comments {
  background-color: #0e2c1d;
  color: #9ee7b6;
}
.Comments li {
  display: grid;
  grid-template-columns: auto;
  padding: 35px;

  border: 2px solid #2e8b57;
  border-spacing: 35px;
  border-radius: 1%;
  margin: 20px auto;
}
