.App {
  text-align: center;
  min-height: 100vh;
  color: seagreen;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: seagreen;
  min-height: 10vh;
  font-size: 2rem;
  color: white;
  padding-left: 10%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Nav {
  display: inline-block;
  text-align: left;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seagreen;
}

.Nav li {
  display: inline-block;
  padding-right: 50px;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.Nav li:hover:not(.active) {
  background-color: white;
}
.active {
  background-color: white;
}

.ArticleList li {
  text-align: left;
  list-style-type: none;
  line-height: 1.5;
}

.ArticleList img {
  width: 40vw;
}

.ArticleList li p {
  text-align: left;
}
